<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html>
	<head>
		<title>Intensify by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/src/app/app.component.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
	</head>
	<body>

		<!-- Header (TOP) -->
			<header id="header">
				<nav class="left">
         
          <!-- Click on Hamburger -->
            <!-- Menu Settings -->
        <div> <button class="w3-button w3-white w3-large" (click)="w3_open()">&#9776;</button></div>
        </nav>

        	<!-- Click on LOGO -->
        <a href=""> 
        <img src="../assets/images/WoundCare_LOGO.png" class = "logo" alt=""></a>

				<nav class="right">
          	<!-- Log in stuff here -->
					<a href="#login" class="button alt">Log in</a>
				</nav>
      </header>
      
      
    <!-- Menu sidebar -->
    <div class="w3-overlay w3-animate-opacity" (click)="w3_close()" style="cursor:pointer" id="myOverlay"></div>

      <nav id="mySidebar" class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:5">
          <ul>
              <button class="w3-bar-item w3-button w3-medium" (click)="w3_close()">Close &times;</button>
			  <li routerLinkActive='active'> <a class="w3-bar-item w3-button" routerLink="home">Home</a>
			  <li routerLinkActive='active'> <a class="w3-bar-item w3-button" routerLink="/patient/appointments">Appointments</a>
              <li routerLinkActive='active'> <a class="w3-bar-item w3-button" routerLink="/patient/healthpage">Health Home</a>
              <li routerLinkActive='active'> <a class="w3-bar-item w3-button" routerLink="/patient/woundhistory">Wound History</a>
              <li routerLinkActive='active'> <a class="w3-bar-item w3-button" routerLink="/patient/woundresults">Wound Results</a>
              </ul>
			</nav>

      	
      
		<!-- Banner -->
			<section id="banner">
				<div class="content">
					<h1>Doctor Recomended</h1>
					<p>WoundCare is the # 1 IOS and Android app for analysing wounds.<br />Create an account now, see what makes us so great.</p>
					<ul class="actions">
						<li><a href="#one" class="button scrolly">Get Started</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item left">
						<div>
							<h3>Observe your wound</h3>
							<p>Use your phone to capture the wound<br /> and let the App do the rest.</p>
						</div>
						<div>
							<h3>Track healing</h3>
							<p>Look at generated graphs that<br /> show how your wound is doing over time.</p>
						</div>
					</div>
					<div class="flex-item image fit round">
						<img src="../assets/images/pic01.jpg" alt="" />
					</div>
					<div class="flex-item right">
						<div>
							<h3>Get health reports</h3>
							<p>Understand what a healing wound<br /> should look like.</p>
						</div>
						<div>
							<h3>Alert your doctor</h3>
							<p>The moment the wound isn't healing properly<br /> the App will inform your doctor.</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<h2>Changing the game</h2>
					<figure>
					    <blockquote>
					        "With this application we have revolutionized how we look at our wounds. No more guessing. No more worry."
					    </blockquote>
					    <footer>
					        <cite class="author">The Man</cite>
					        <cite class="company">CEO, WoundCare</cite>
					    </footer>
					</figure>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item box">
						<div class="image fit">
							<img src="../assets/images/pic02.jpg" alt="" />
						</div>
						<div class="content">
							<h3>Capture</h3>
							<p>Placerat ornare. Pellentesque od sed euismod in, pharetra ltricies edarcu cas consequat.</p>
						</div>
					</div>
					<div class="flex-item box">
						<div class="image fit">
							<img src="../assets/images/pic03.jpg" alt="" />
						</div>
						<div class="content">
							<h3>Observe</h3>
							<p>Morbi in sem quis dui placerat Pellentesque odio nisi, euismod pharetra lorem ipsum.</p>
						</div>
					</div>
					<div class="flex-item box">
						<div class="image fit">
							<img src="../assets/images/pic04.jpg" alt="" />
						</div>
						<div class="content">
							<h3>Alert</h3>
							<p>Nam dui mi, tincidunt quis, accu an porttitor, facilisis luctus que metus vulputate sem magna.</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(555) 555-5555</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
      

	</body>
</html>

